

<html>

    <head>
    </head>
    <body>

        <h1>Welcome to the Home page</h1>
        <div data-ng-controller="CRUDController">  
            <pre>{{EmpList}}</pre> 
            <table>  
                <tr>  
                    <td>EmpId: </td>  
                    <td>  
                        <span>{{EmpModel.Id}}</span></td>  
                </tr>  
                <tr>  
                    <td>Name:</td>  
                    <td>  
                        <input type="text" data-ng-model="EmpModel.Name" /></td>  
                </tr>  
                <tr>  
                    <td>Salary:</td>  
                    <td>  
                        <input type="number" data-ng-model="EmpModel.Salary" /></td>  
                </tr>  
                <tr>  
                    <td>  
                        <input type="button" value="Save Data" data-ng-click="AddData()" /></td>  
                </tr>  
            </table>  

            <table border="1" style="width: 300px">  
                <thead>  
                
                <th>Id</th>  
                <th>Name</th>  
                <th>Salary</th>  
                </thead>  
                <tr data-ng-repeat="Emp in EmpList"> 
                    <pre>{{$index}}</pre>
                    <td>{{ Emp.Id}}</td>  
                    <td>{{ Emp.Name}}</td>  
                    <td>{{ Emp.Salary}}</td>  
                    <td>  
                        <input type="button" value="Delete" data-ng-click="DeleteData(Emp)" /></td> 
                    <td>  
                        <input type="button" value="Edit Data" data-ng-click="BindSelectedData(Emp, $index)"/></td></tr>  
            </table>  

        </div> 
    </body>  
</html>  